<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Song</title>
    </head>
    <body>
       <!--From to add the song-->
        <form action="/addSong" method="POST">
            <label for="SongName">Enter Song Name: </label>
            <input id="SongName" type="text" name="SongName">
            <br>
            <label for="ArtistID">Enter Artist: </label>
            <input id="ArtistID" type="text" name="ArtistID">
            <br>
            <label for="YearReleased">Enter Release Year: </label>
            <input id="YearReleased" type="number" name="YearReleased">
            <br>
            <!--Button to run the action in the form-->
            <input type="submit" value="Save">
        </form>    
    </body>
</html>